# Meter DB Organization
Re-organize extracted meter data for target database tables

* Note: This imports extracted_meters.csv. I manually changed some rows in this csv on 7/11, if the csv is regenerated, those changes will be lost and may need to be re-done.

In [1]:
import pyodbc
import pandas as pd
import numpy as np

In [2]:
# Load extracted_meters
meters = pd.read_csv('./api/data/extracted_meters.csv')
meters.head()

,sSerialNumber,sContact,sTag,sRANumber,sTRSS,owner_id,meter_type_id,meter_status_id,latitude,longitude
0,88-8-817,HALDEMAN W.T. ESTATE,NaN,763;1180-S,17.26.14.133,NaN,3.0,5,32.835806,104.360556
1,94-8-2251,DAVID AND TRACEY CORN,221C4,2417 POD 2,8.24.28.413,53.0,3.0,1,NaN,NaN
2,00-10-6922,AG SERVICES,NaN,NaN,"ROSWELL, NM",1.0,4.0,5,NaN,NaN
3,00-10-6923,N.M.S.U. EXPER STAT.,20138,827,18.26.16.211,NaN,4.0,1,32.754556,104.386417
4,00-10-6924,WAIDE FARMS,NaN,NaN,NaN,NaN,4.0,5,NaN,NaN

In [3]:
# Add on a meter id
meters['meter_id'] = meters.index + 1

In [4]:
len(meters)

4498

The database will have a locations table and the meters table will reference a particular location id. It isn't yet clear exactly how to define a location since Lat/Long is too precise. TRSS may better describe a location since it has a lower resolution. It isn't clear if the existing TRSS match the lat/longs. For now I will define locations by TRSS and use that to assign location IDs to the meters.

In [ ]:
# Create locations table
locations_table = meters[['meter_id','sTRSS']]

In [ ]:
# Drop locations where sTRSS is null
locations_table.dropna(inplace=True)
locations_table.head()